<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/basestyle.css">
    <title>Escalação</title>
</head>
<body>

    <nav class="navbar">
        <img src="../assets/img/barcelona.png">
        <ul>
            <li><a href="#">Escalar Time</a></li>
            <li><a href="#">Visualizar Time</a></li>
            <li><a href="#">Cadastrar Cards</a></li>
            <li><a href="#">Visualizar Cards</a></li>
            <li><a href="#">Cadastrar Highlights</a></li>
            <li><a href="#">Visualizar Highlights</a></li>
            <li><a href="#">Visualizar Users</a></li>
        </ul>
    </nav>

</body>
</html>